<!--ユーザーの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>
    <% if @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
    <% end %>
  </p>
</div>

<!--ユーザーの投稿記事一覧-->
<%= render 'post_images/post_image_list', post_images: @post_images %>


