<!--<div class="container">-->

<!--  <div class="row">-->
<!--    <div class="col-md-6 mx-auto">-->
<!--      <h1 class="mb-3">TOPページ</h1>-->

<!--      <h5>善良な市民たちで作り上げる最高の料理を紹介するアプリ<br />-->
<!--        最高の料理をアプリを通して発信しよう！！</h5>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <= image_tag 'sushi.png', class: 'col-sm-6 mx-auto' %>-->
<!--  </div>-->
<!--</div>-->



<div class="flex-column text-center">

    <div class="mb-3">
      <h1 class="mb-3">TOPページ</h1>

      <h5>善良な市民たちで作り上げる最高の料理を紹介するアプリ<br />
          最高の料理をアプリを通して発信しよう！！</h5>
    </div>

  <div class>
    <%= image_tag 'sushi.png' %>
  </div>

</div>